@import 'settings/variables';
@import 'settings/mixins';
@import 'reset';
@import 'fonts';
@import 'typography';

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0 auto;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf");
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1110px;
  margin: 0 auto;

  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid #F1F1F1;
    margin: 19px 52px 0 52px;

    &__logo {
      background: no-repeat center center url("../image/logo-edao.png");
      width: 104px;
      height: 28px;
      margin-bottom: 19px;
    }
  }

  .contant-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 188px;
    width: 100%;
    @media (max-width: 1400px) {
      margin-bottom: 272px;
    }
    @media (max-width: 1024px) {
      margin-bottom: 711px;
    }
    @media (max-width: 768px) {
      margin-bottom: 396px;
    }
    @media (max-width: 600px) {
      margin-bottom: 565px;
    }
    @media (max-width: 375px) {
      margin-bottom: 395px;
    }
  }

  .contant {
    display: flex;
    flex-direction: column;
    @media (max-width: 1400px) {
      max-width: 540px;
    }
    @media (max-width: 1024px) {
      max-width: 540px;
    }
    @media (max-width: 768px) {
      max-width: 540px;
    }
    @media (max-width: 600px) {
      max-width: 510px;
    }
    @media (max-width: 400px) {
      max-width: 345px;
    }
    @media (max-width: 375px) {
      max-width: 345px;
    }

    &__name-place {
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 33px;
      display: flex;
    }

    &__geolocation {
      display: flex;
      justify-content: space-between;
    }

    &__adress-map {
      display: flex;
      width: 45px;
      height: 45px;
      background: no-repeat center center url("../icons/geolocation.png") #F6F6F6;
      border-radius: 5px;
      align-self: center;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      width: 45px;
    }
  }

  .place {
    display: flex;
    margin: 9px 0 21px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    width: 540px;

    @media (max-width: 1400px) {
      display: flex;
      flex-direction: row;
    }
    @media (max-width: 1024px) {
      display: flex;
      flex-direction: row;
    }
    @media (max-width: 768px) {
      display: flex;
      flex-direction: row;
    }
    @media (max-width: 600px) {
      display: flex;
      flex-direction: row;
    }
    @media (max-width: 520px) {
      display: flex;
      flex-direction: column;
    }
    @media (max-width: 375px) {
      display: flex;
      flex-direction: column;
    }

    &__adress {
      display: flex;
      flex-direction: row;
    }

    &__time {
      display: flex;
      flex-direction: row;

      @media (max-width: 1400px) {
        margin-top: 0;
      }
      @media (max-width: 1024px) {
        margin-top: 0;
      }
      @media (max-width: 768px) {
        margin-top: 0;
      }
      @media (max-width: 600px) {
        margin-top: 0;
      }
      @media (max-width: 520px) {
        margin-top: 5px;
      }
      @media (max-width: 375px) {
        margin-top: 5px;
      }
    }

    &__pointer {
      height: 12px;
      width: 12px;

      &_pointer-adress {
        background: no-repeat left center url("../icons/pointer.png");
        margin: 4px;
      }

      &_pointer-time {
        background: no-repeat left center url("../icons/clock.png");
        margin: 3px 3px 0 15px;

        @media (max-width: 1400px) {
          margin: 3px 3px 0 15px;
        }
        @media (max-width: 1024px) {
          margin: 3px 3px 0 15px;
        }
        @media (max-width: 768px) {
          margin: 3px 3px 0 15px;
        }
        @media (max-width: 600px) {
          margin: 3px 3px 0 15px;
        }
        @media (max-width: 520px) {
          margin: 3px 3px 0 4px;
        }
        @media (max-width: 375px) {
          margin: 3px 3px 0 4px;
        }
      }
    }
  }

  .position-description {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-bottom: 1px solid #F1F1F1;;
    padding-bottom: 26px;

    @media (max-width: 1400px) {
      width: 540px;
    }
    @media (max-width: 1024px) {
      width: 540px;
    }
    @media (max-width: 768px) {
      width: 540px;
    }
    @media (max-width: 600px) {
      width: 510px;
    }
    @media (max-width: 520px) {
      width: 345px;
    }
    @media (max-width: 375px) {
      width: 345px;
    }

    &__photo {
      background: no-repeat left center url("../image/pizza.png");
      width: 160px;
      height: 160px;
      border-radius: 5px;
      box-sizing: border-box;

      @media (max-width: 1400px) {
        width: 160px;
        height: 160px;
      }
      @media (max-width: 1024px) {
        width: 160px;
        height: 160px;
      }
      @media (max-width: 768px) {
        width: 160px;
        height: 160px;
      }
      @media (max-width: 600px) {
        width: 160px;
        height: 160px;
      }
      @media (max-width: 520px) {
        height: 100px;
      }
      @media (max-width: 375px) {
        height: 100px;
      }
    }

    &__discount {
      display: flex;
      justify-content: center;
      width: 51px;
      height: 23px;
      background: #2F80ED;
      border-radius: 5px 0px;
    }

    &__discount p {
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #FFFFFF;
      letter-spacing: -0.025em;
    }
  }

  .position-consist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;

    &__name {
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 115.77%;
      margin-bottom: 6px;
      @media (max-width: 1400px) {
        max-width: 264px;
      }
      @media (max-width: 1024px) {
        max-width: 264px;
      }
      @media (max-width: 768px) {
        max-width: 264px;
      }
      @media (max-width: 600px) {
        max-width: 215px;
      }
      @media (max-width: 375px) {
        max-width: 215px;
      }
    }

    &__ingredients {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 15px;
      color: #858585;
      margin-bottom: 16px;

      @media (max-width: 1400px) {
        p {
          display: none;
        }

        ul {
          list-style: none;
        }

        ul li:before {
          content: "- ";
        }
      }
      @media (max-width: 1024px) {
        p {
          display: none;
        }

        ul {
          list-style: none;
        }

        ul li:before {
          content: "- ";
        }
      }
      @media (max-width: 768px) {
        p {
          display: none;
        }

        ul {
          list-style: none;
        }

        ul li:before {
          content: "- ";
        }
      }
      @media (max-width: 600px) {
        p {
          display: block;
        }

        ul {
          display: none;
        }
      }
      @media (max-width: 375px) {
        p {
          display: block;
        }

        ul {
          display: none;
        }
      }
    }
  }

  .price {
    font-family: Open Sans;
    font-style: normal;
    display: flex;
    flex-direction: row;

    &__old {
      font-weight: normal;
      text-decoration: line-through;
      margin-right: 5px;

    }

    &__new {
      font-weight: bold;
    }

    &__rub:after {
      content:"\20BD";
    }
  }

  .food-info {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 8px 0;

    &__buy-food {
      margin-bottom: 24px;
    }
  }
  .application-button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    &__button-apple {
      background: no-repeat left center url("../button/app-store.png");
      width: 165px;
      height: 47px;
      margin-right: 16px;
    }
    &__button-google {
      background: no-repeat left center url("../button/google-play.png");
      width: 165px;
      height: 47px;
    }
  }
}